<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--
user=root
password=6962259
url=jdbc:mysql://127.0.0.1:3306/jt_db?serverTimezone=UTC&rewriteBatchedStatements=true
diverClass=com.mysql.cj.jdbc.Driver-->

<configuration>

<!--    引入外部文件-->
    <properties resource="db.properties"/>

<!--     标准日志实现-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

<!--    路径起别名-->
    <typeAliases>
        <typeAlias type="cn.zhou.bean.Student" alias="Student"/>
        <typeAlias type="cn.zhou.bean.Teacher" alias="Teacher"/>
    </typeAliases>


    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?useSSl=true&amp;characterEncoding=utf-8&amp;useUnicode=true&amp;serverTimezone=UTC&amp;"/>
                <property name="username" value="root"/>
                <property name="password" value="6962259"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
       <mapper class="cn.zhou.dao.StudentMapper"/>
       <mapper class="cn.zhou.dao.TeacherMapper"/>
        <!--    可以使用包扫描的方式来加载mapper-->
<!--        <package name="cn.zhou.dao"/>-->
    </mappers>




</configuration>